[Unit]
Description=Passive Tutoring Service
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /home/pi/Desktop/passive_tutoring_nir.py

[Install]
WantedBy=multi-user.target
